# /etc/systemd/system/script-scheduler.service
[Unit]
Description=Run scheduled scripts on boot
After=network.target

[Service]
Type=oneshot
User=user
ExecStart=/home/user/auxiliary_scripts/SecuArch/scriptScheduler.sh
WorkingDirectory=/home/user/auxiliary_scripts/SecuArch
Environment="HOME=/home/user"
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYInteractive=yes

[Install]
WantedBy=multi-user.target

